@font-face {
    font-family: 'galano-heavy';
    src: url('../fonts/galano_grotesque_alt_heavy-webfont.woff2') format('woff2'),
         url('../fonts/galano_grotesque_alt_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'galano-medium';
    src: url('../fonts/galano_grotesque_alt_medium-webfont.woff2') format('woff2'),
         url('../fonts/galano_grotesque_alt_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'galano-black';
    src: url('../fonts/galano_grotesque_alt_black-webfont.woff2') format('woff2'),
         url('../fonts/galano_grotesque_alt_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'galano-extra';
    src: url('../fonts/galano_grotesque_alt_extra_bold-webfont.woff2') format('woff2'),
         url('../fonts/galano_grotesque_alt_extra_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}