//Colors
@import 'client_colors.scss';
//Fonts
@import 'client_fontface.scss';
$font_padrao: 'galano-medium';
$font_bold:   'galano-heavy';
$font_black:  'galano-black';
$font_extra:  'galano-extra';
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap');
//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
//Mixins Vertical-align
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
//Mixins Placeholder
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
@mixin btn-default-client {
	color: $grey;
	border: 1px solid $grey;
	padding: 6px 30px;
	margin: 10px 0 50px;
	&:hover {
		color: $black;
		border-color: $black;
	}
}
//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */  
  font-size: 0.9rem;   
}
::-moz-placeholder { /* Firefox 19+ */  
  font-size: 0.9rem;
}
:-ms-input-placeholder { /* IE 10+ */  
  font-size: 0.9rem;
}
:-moz-placeholder { /* Firefox 18- */  
  font-size: 0.9rem;
}
*,
html,
body {
	// font-family: $font_padrao;
	font-family: 'Lato', sans-serif;
}
// Nav
.nav-client {
	background: $black;
	padding: 0 1rem;
	.navbar-brand {
		padding-top: 10px;
		padding-bottom: 10px;
		img {
			height: 50px;
		}
	}
	.navbar-nav {
		li {
			margin: 0 2.0rem;
			.nav-link {
				color: $white;
				text-transform: uppercase;
				font-weight: 300;
				border-bottom: 2px solid $black;			
				&:hover {
					color: $grey-2;
					transition: 0.3s;	
					border-color: $grey-2;			
				}
			}
		}
	}
	.social-header {
		list-style: none;
		padding: 0;
		margin: 10px 0;
		li {
			display: inline-block;
			margin: 0 10px;
			a {
				color: $white;
				font-size: 1.2rem;
				&:hover {
					color: $grey-2;			
				}
			}
		}
	}
}
.fixed-client {
	position: fixed;
	background: $black;
	width: 100%;
	z-index: 99;
	top: 0;
	left: 0;
	transition: 0.3s;
	box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);        
}
.navbar-toggler {
	// &.collapsed {
		background: $white !important;
	// }
}
// Carousel
.carousel {
	// background: $black;
	top: -20px;
	.carousel-item {
		&:last-child {
			top: 20px;
		}
	}
}
.carousel-indicators {
	bottom: 100px;
	li {
		background-color: rgba(255,255,255,0.4);
		&.active {
			background-color: $grey;
		}
	}
}
.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	p {
		font-size: 2.1rem;
		line-height: 2.1rem;
		margin: 0 auto 1.4rem;
		&:first-child {
			width: 700px;
			font-weight: 300;
		}
		&:last-child {
			width: 100%;
			font-weight: 100;
		}
	}
	
}
// Sections
section {
	margin: 100px 0;
}
//Sabores
.sabores {
	background: $black;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);        
	margin-top: -80px;
	.sabor {
		padding: 3.0rem 2.0rem;
		position: relative;
		&:after {
			content : "";
			position: absolute;
			right    : 0;
			z-index: 2;
			top  : 25%;
			width  : 2px;
			height   : 50%;  /* or 100px */
			background: $white;
		}
		&:last-child {
			&:after {
				content : "";
				display: none;
			}
		}
	}
}
// Sobre
#sobre {
	padding: 50px 0;
	margin: 50px 0;
	text-align: center;	
	figure {		    	
		height: 240px;		
		img {
			@include vertical-align ();	
		}		
	}
}
//Produtos
#produtos {
	h1 {
		font-weight: 300;
		text-transform: uppercase;
	}
	.prod {
		display: flex !important;
		align-items: center;
		.imgProd {
			width: 40%;
			margin-right: 10%;
		}
		.descProd {
			width: 50%;
			text-align: left;
			font-size: 1.2rem;
			color: $grey-3;
			font-weight: 300;
			span {
				display: block;				
				strong {
					font-weight: bolder;
				}
			}
		}
	}
}
// Fale Conosco
#fale_conosco {
	h2 {
		font-weight: 300;
		text-transform: uppercase;
	}
	.form-control {
		background-color: $grey;
  		border-color: $grey-2;  		
	}
	textarea {
		height: 145px !important;
	}
	.bt-send {
		background-color: $grey-2;
		color: $black;
		float: right;
		padding: 6px 30px; 
		margin-right: 15px;
		&:hover {
			transition: 0.3s;
			background-color: $grey;
			color: $black;
		}
	}
	#retorno {
		padding-left: 15px;
		small {
			padding-left: 10px;
		}
	}
	#resposta {		
		text-align: center;
		.badge {
			// font-family: $font_padrao;
			margin: 0 5px !important;
		}
	}
	.success {
		background: #b9f9ae;
		color: #2c6149;
		padding: 30px 50px;
	}
}
//slick
.slick-prev, .slick-next {
	height: 498px;
	width: 150px;
}
.slick-prev {
	left: -200px;
	&:before {
		content: url('../images/arrow-left.png');		
	}
}
.slick-next {
	right: -200px;
	&:before {
		content: url('../images/arrow-right.png');		
	}
}
.slick-dots{
	 button {
	 	&:before {
	 		background: $grey;
	 		@include border-radius (50%);
	 	}
	 }
}
//Social plugin
#social {
	h2 {
		font-weight: 300;
		text-transform: uppercase;
	}
	.btn-default-tst {
		@include btn-default-client();
		margin-bottom: 20px;
	}
	.social-footer {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin:  0 10px;
			a {
				color: $black;
				font-size: 20px;
				&:hover {
					transition: 0.3s;					
					color: $grey-2;			
				}
			}
		}
	}
}
// Footer
footer {
	a {
		color: $black;
		text-decoration: underline;
		&:hover {
			color: $grey-2;			
			text-decoration: none;
		}
	}
}
// Modal 
// .ekko-lightbox {
// 	background-color: rgba(254,215,0,0.9);
// 	.ekko-lightbox-nav-overlay {
// 		a {
// 			color: #000000;
// 		}
// 	}
// }
// .modal-content {
// 	border-radius: 0;
// 	border: 1px solid $yellow-2;
// 	background-color: $yellow;
// }
// .bt_jt {
// 	position: absolute;
// 	right: 88px; 
// 	bottom: 50px; 
// 	width: 510px; 
// 	height: 50px; 	
// }
//Media Queries
@import 'client_style_queries.scss';