@import 'client_fontface.scss';
//Colors
@import 'client_colors.scss';
//@import "./node_modules/sass-mediaqueries/_media-queries.scss";    

$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;

//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}


@include mobile-only() {
  .nav-client {  
    .navbar-nav {
      text-align: center;            
    }
    .social-header {
      width: 100%;
      text-align: center;
      border-bottom: 3px solid $white;
      margin-bottom: 0px !important;
      li {
        padding-bottom: 10px;
      }      
      &:before {
        content: 'Redes sociais:';
        padding-top: 5px;
        display: flex;
        font-size: 0.8rem;
        border-top: 1px solid $white;
        color: $white;        
      }
    } 
  } 
  .nav-client  {}
  .navbar-brand {
    // margin: 0 auto !important;
    img {
      width: 50px !important;
      height: auto !important;
    }
  }
  .carousel-caption {
    top: 10%;
    transform: translateY(-10%);
    p {
      font-size: 0.8rem;
      line-height: 1.0rem;
      &:first-child {
        width: 100%;
      }
      &:last-child {
        width: 100%;
      }
    }
  }
  // Carousel
  .carousel-indicators {
    bottom: 0px;    
  }
  //Sabores
  .sabores {
    margin-top: 00px;
    .sabor {
      padding: 1.4rem 0.4rem;
      position: relative;
      &:after {
        width  : 1px;
      }    
    }
  }
  // Sobre
  #sobre {
    padding: 30px 0 0;
    margin: 20px 0 0;
    text-align: center; 
    figure {          
      height: 50px;      
    }
  }
  //Produtos
  #produtos {
    margin: 30px 0;
    .prod {
      flex-direction: column;
      .imgProd,
      .descProd {
        width: 100%;
        margin: 0;
      }      
      .imgProd {
        img {
          width: 170px;
          height: auto;
          margin: 40px auto 10px;
        }   
      }
    }
  }
}
@include mobile-portrait-only() {
  
}
// //END MOBILE